.container {
  width: 500px;
  height: 150px;
  margin: 100px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.form {
  display: flex;
  position: relative;
}

.container hr {
  position: absolute;
  width: 516px;
  border: 2px solid #2f1657;
  top: 2.5rem;
  left: -10px;
}

.form input {
  width: 100%;
  height: 1.5rem;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
  display: block;
  outline: none;
  border-style: none;
  font-size: 1.2rem;
}

.form svg {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  padding: 10px;
}

.actions {
  margin-top: 50px;
  height: 40px;
  display: flex;
  justify-content: end;
}

.actions button {
  height: 100%;
  width: 80px;
  background-color: #2f1657;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}

.actions button:hover {
  background-color: #53397e;
}
